books { 
	color: white; 
	background-color : pink; 
	width: 100%; 
} 
heading { 
	color: green; 
	font-size : 40px; 
	background-color : powderblue; 
} 
heading, title, author, publisher, edition { 
	display : block; 
} 
title { 
	font-size : 25px; 
	font-weight : bold; 
} 
